<div class="container" ng-controller="MyInfoController as MyInfoCtrl">
	<div ng-if="MyInfoCtrl.hasInfo == false">
		Not Signed Up Yet. <a ui-sref="public.signup" style="color: #fff">Sign up Now!</a>
	</div>

	<div ng-if="MyInfoCtrl.hasInfo == true">
	<div class="row">
		<div class="col-xs-12">
			<h2>My Info</h2>
			<hr>
		</div>
		<div class="col-xs-6">
			First Name: {{MyInfoCtrl.user.firstName}}
		</div>
		<div class="col-xs-6">
			Last Name: {{MyInfoCtrl.user.lastName}}
		</div>
		<div class="col-xs-6" style="margin-top: 10px;">
			Email: {{MyInfoCtrl.user.email}}
		</div>
		<div class="col-xs-6" style="margin-top: 10px;">
			Contact: {{MyInfoCtrl.user.contact}}
		</div>
	</div>
	<div class="row" style="margin-top: 30px;">
		<div class="col-xs-12">
			<h2>Favourite Menu Item</h2>
			<hr>
			<img ng-src="images/menu/{{MyInfoCtrl.item.category_short_name}}/{{MyInfoCtrl.item.category_short_name}}.jpg" style="width: 200px">
			<h3>Name: {{MyInfoCtrl.item.name}}</h3>
			<p>Description: {{MyInfoCtrl.item.description}}</p>
			<p>Price(small): {{MyInfoCtrl.item.price_small | currency : $}}</p>
			<p>Price(large): {{MyInfoCtrl.item.price_large | currency : $}}</p>
		</div>
	</div>
	</div>
</div>