<a href="../index.html">&larr; Back to site navigation</a>
<p>
    This page acts as an online menu. A user will be able to enter each category after entering the menu to check out the available items in each category. The menu items are taken from
    <a href="https://davids-restaurant.herokuapp.com/menu_items.json">https://davids-restaurant.herokuapp.com/menu_items.json</a>
</p>

<div class="body">
    <h1>Welcome to David's Restaurant</h1>
    <p>Click 'Enter' to view the menu!</p>

    <button class="btn-main" ui-sref="categories">Enter</button>
</div>
