<a ui-sref="categories">&larr; Back to Categories</a>
<div class="clearfix">

<h2>{{menuItems.header.name}} ({{menuItems.header.short_name}})</h2>
<p>{{menuItems.header.special_instructions}}</p>

<ol class="list">
	<li ng-repeat="item in menuItems.items">
		{{item.name}} ({{item.short_name}})
		<span class="description" style="float:right">{{item.price_large | currency : $}}</span>
        <div class="row">
            <span class="description" style="width:90%;text-overflow: ellipsis;">{{item.description}}</span>
        </div>
	</li>
</ol>